[% title = 'Create a new blog' %]
[% IF NOT submitted.raw %]
[% form %]
[% ELSE %]
<p>
New blog created successfully.
</p>

<ul>
<li>
<a href="[% c.uri_for('/').escape %]">Return to the front page.</a>
</li>
<li>
<a href="[% c.uri_for('/blog', url.raw).escape %]">Go see the blog</a>
</li>
</ul>

[% END %]
