[%- USE HTML -%]
[% title = "Posted the Comment - Catable" -%]

<div class="comment-posted">
<p>
The comment was posted. Now you can:
</p>

<ul>
<li>
<a href="[% HTML.escape(
    c.uri_for('/posts/show', comment.parent().id(), ) _ 
    '#comment' _ comment.id()
    ) %]">View the comment in its original context</a> (on the post page).
</li>
<li>
<a href="[% c.uri_for('/comments/show/', comment.id().raw).escape %]">See
the comment</a>
</li>
</ul>

</div>
