[%- USE HTML -%]
[% title = 'Add new post' -%]
<h2 id="preview">Post Preview</h2>

<div class="post">
<h3>[% HTML.escape(c.req.params.post_title) %]</h3>

[% # TODO : verify that the HTML does not contain any malicious code
   # and is well-formed.
%]
[% c.req.params.post_body %]
</div>

<h2>Submission Form</h2>

[% form %]
