[% title = (title || 'List Posts') %]
[% PROCESS "posts/display_block.tt2" %]
[%- USE HTML -%]

[% IF blog %]
<ul class="menu">
<li>
<a href="[% c.uri_for("/blog", blog.url, "posts", "add") %]">Add new post</a>
</li>
</ul>
[% END %]

[% FOREACH post IN posts %]
[% PROCESS display_post post = post , header_link = 1 , no_ids = 1 %]
[% END %]
