[%- USE HTML -%]
[% title = "All posts - Catable" -%]

[% FOREACH post IN posts %]
<div style="display:block">
    <a href="[% c.uri_for('/posts/show', post.id) %]">
        [% post.title %]</a>
</div>
[% END %]
