[%- USE HTML -%]
[% title = post.title() _ " - Catable" -%]

<div class="post asset-body">
<h3 class="entry-title">[% HTML.escape(post.title()) %]</h3>

<p>
<b>Posted at:</b>
[% HTML.escape(post.pubdate().strftime("%H:%M:%S %d-%m-%Y")) %]
</p>

[% # TODO : verify that the HTML does not contain any malicious code
   # and is well-formed.
%]
[% post.body() %]
</div>

