[%- # TODO : duplicate code between this and show.tt2.
-%]
[%- USE HTML -%]
[% title = "Tag" _ tag.label().raw _ " - Catable"-%]

[% posts_rs = tag.posts_rs() %]
[% WHILE ( post = posts_rs.next() ) %]
<div style="display:block">
    <a href="[%
        c.uri_for(c.controller.action_for('show'), post.id.raw).escape %]">
        [% post.title.escape %]</a>
</div>
[% END %]
