.add_post
{
    border-collapse: collapse;
}
.add_post td, .add_post th
{
    border: 2pt solid #8D9;
    vertical-align: top;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.12em;
    padding-bottom: 0.2em;
    text-align: left;
}

span.error_message, span.error_constraint_required {
    color: red;
}

.add-post-form {
    display: table;
    margin-left: 1em;
}

.add-post-form .label {
    display: table-row;
    margin-bottom: 1em;
}

.add-post-form label, .add-post-form textarea, 
.add-post-form input, .add-post-form select
{
    vertical-align: top;
    display: table-cell;
    margin-bottom:1em;
    margin-right:1em;
}
