body {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(50,50,50);
}

#header-inner {
    background-image: url(red.png);
    background-repeat: repeat-x;
    background-position: top left;
}

#header-content {
    background-image: url(header.png);
    /* derived from http://www.flickr.com/photos/deerwooduk/682390157/ */
    /* http://creativecommons.org/licenses/by/2.0/deed.en */
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: -1em;
    
    height: 200px;
    padding-left: 10px;
}

#header-name {
    margin-bottom: 1em;
}

#header {
    background-image: url(tile.png);
    /* derived from http://www.flickr.com/photos/8078381@N03/2683238976/ */
    /* http://creativecommons.org/licenses/by/2.0/deed.en */
    text-align: center;
    
    border-left-color: rgb(200,75,75);
    border-left-style: solid;
    border-left-width: 4px;
}

#header a {
    text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: white;
    color: white;
    text-shadow: 0px 0px 5px black;
    margin-right: 250px;
}

#header-description {
    margin-right: 275px;
    margin-left: 10px;
    margin-top: -17px;
    
    padding: 0.5em;
    
    font-size: 1em;
    font-weight: bold;
    height: 120px;
    overflow: hidden;
    
    text-align: left;
}

#user {
    background-color: rgb(200,75,75);
    margin-bottom: -1em;
}

#user a:link {
    color: rgb(220,220,255);
}

#user a:visited {
    color: rgb(220,220,220);
}


.login {
    color: white;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.openid {
    width: 30em;
}

.add_post {
    border-color: rgb(200,75,75);
    border-style: solid;
    border-width: 2px;
    
    width: 100%;
}

.add_post tr th {
    background-color: rgb(200,75,75);
    color: white;
    
    border-color: rgb(180,180,180);
    border-style: solid;
    border-width: 2px;
}

.add_post tr td {
    border-color: rgb(180,180,180);
    border-style: solid;
    border-width: 2px;
}

.add_post input[type="text"] {
    width: 99%;
}

.add_post textarea {
    width: 99%;
    height: 15em;
}

#content {
    border-left-color: rgb(200,75,75);
    border-left-style: solid;
    border-left-width: 4px;
    
    border-right-color: rgb(200,75,75);
    border-right-style: solid;
    border-right-width: 4px;
    
    background-color: white;
}

#content-inner {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

#content-inner h1 {
    color: rgb(200,75,75);
}

.entry-title {
    background-color: rgb(200,75,75);
    color: white;
    margin-top: 0em;
    margin-left: -30px;
    margin-right: -30px;
    padding: 0.3em;
}

.post {
    border-color: rgb(200,75,75);
    border-style: solid;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.comment-title {
    background-color: rgb(160,160,160);
    color: white;
    font-size: 1em;
    margin-top: 0em;
    margin-left: -30px;
    margin-right: -30px;
    padding: 0.3em;
}

.comment-content {
    border-color: rgb(160,160,160);
    border-style: solid;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 1em;
}

.comments-open-header {
    background-color: rgb(160,160,160);
    color: white;
    font-size: 1em;
    padding: 0.3em;
}

.comments-open-content {
    margin-top: -1em;
    border-color: rgb(160,160,160);
    border-style: solid;
    border-width: 2px;
    padding: 30px;
}

.comments-open-content input[type="text"] {
    width: 100%;
}

.comments-open-content textarea {
    width: 100%;
    height: 15em;
}

#footer {
    margin-top: -1em;
    background-color: rgb(200,75,75);
    color: white;
}

#footer a:link {
    color: rgb(210,210,255);
}

#footer a:visited {
    color: rgb(220,220,220);
}

.widget-content p {
    padding: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    
}
